* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, Arial;
  font-size: 24px;
}

html,
body {
  height: 100%;
  min-width: 300px;
}

body,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  align-items: center;
  padding: 4vmin 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  margin-bottom: 3.5vmin;
}

p {
  font-size: 3.5vmin;
  margin-bottom: 3.5vmin;
}
